BODY {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

TABLE {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 25px 5px;
}
TABLE TH {
    background-color: #555;
    color: white;
    font-weight: bold;
    text-align: left;
    border: 1px solid white;
    padding: 2px 10px;
}
TABLE TD {
    border: 1px solid white;
    padding: 2px 10px;
}

A {
    color: #6d85ff;
    font-weight: bold;
    text-decoration: none;
}

.wrapper {
    border: 10px;
    display: flex;
}

#sidebar {
    top: 0;
    height: 1000px;
    width: 25%;
    position: sticky;
    overflow-y: auto;
}

#sidebar a {
    font-weight: normal;
}

#sidebar ul {
    padding-left: 30px;
}

.content {
    padding-left: 20px;
}
