BODY {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

A {
    color: #6d85ff;
    font-weight: bold;
    text-decoration: none;
}

.wrapper {
    border: 10px;
    display: flex;
}

#sidebar {
    top: 0;
    height: 1000px;
    width: 25%;
    position: sticky;
    overflow-y: auto;
}

#sidebar a {
    font-weight: normal;
}

#sidebar ul {
    padding-left: 30px;
}

.content {
    padding-left: 20px;
}
